* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

:root {
    --main:#2a9d8f;
    --black: #000;
    --white: #fff;
    --font_family: "Lora", serif;
}

*{
    font-family: var
    (--font_family);
    transition: 0.3s;
}

*::selection{
    background: var(--main);
    color: var(--white)
    !important;
}

.btn {
    width: 300px;
    border: 1px solid var(--main);
    color: var(--main)
    !important;
    font-weight: 600;
    z-index:1;
    border-radius: 15px;
    position:  relative;
}

.btn:hover {
    color: var(--white)
    !important;
}

.btn::after{
    content:"";
    background: var(--main);
    width:0;
    height: 100%;
    top:0;
    z-index:-1;
    left:0;
    display: block;
    position: absolute;
    border-radius: 15px;
    transition: 0.3s;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: var(--main);
}
html::-webkit-scrollbar-track{
    background: var(--black);
}


.btn:hover::after {
    width: 100%;
}

.content {
    text-align: center;
    margin: 50px auto;
}

.content h6 {
    font-size: 40px;
    font-weight: 600;
}

.content h6::before {
    content: "";
    background: var(--white);
    height: 4px;
    width:400px;
    display: block;
    position: absolute;
    margin-left: 450px;
    margin-bottom: 10px;
}
.content p{
    font-size: 12px;
    font-weight: 600;
}

body {
    background-color: #f5f8ff;
}
/*Navbar*/

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0, 0, 0.6);
    border-bottom: 2px solid var(--white);
}

.navbar.scroll {
    background: var(--black);
}
.navbar-brand {
    color: #fff;
    font-size: 3em;
    padding: 0px 60px;
    font-weight: 500;
}
.navbar-brand:hover {
    font-weight: 500;
    color: var(--white)
    !important;
}
.navbar-brand span {
    font-size: 1.5em;
    color: var(--main);
    font-weight: 600;
}

.navbar-nav {
    margin-top: 40px;
    padding: 0px 60px;
    /*border-bottom: 1px solid #fff;*/
}

.nav-link {
    color: var(--white)
    !important;
    margin-left: 8px;
}
.nav-link:hover {
    font-weight: 700;
    color: var(--main)
    !important;
}

.nav-link::after {
    content: "";
    display:block;
    position: space;
    background: var(--main);
    height: 2px;
    width: 0px;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 40px;
}



.wrapper {
    width: 95%;
    margin: 0 auto;
}
#search-container {
    margin: 1em 0;
    padding-top: 150px;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #5f824d;
    padding: 1em 0.3em;
}
#search-container input:focus {
    border-bottom-color: #2a9d8f;
}
#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #2a9d8f;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}
.button-value {
    border: 2px solid #2a9d8f;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #2a9d8f;
    cursor: pointer;
}
.active {
    background-color: #2a9d8f;
    color: #ffffff;
}
#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
.card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
    text-align: center;
}
img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}
.container {
    padding-top: 1em;
    color: #110f29;
}
.container h5 {
    font-weight: 500;
}
.hide {
    display: none;
}
@media screen and (max-width: 720px) {
    img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
    }
    .card {
    max-width: 10em;
    margin-top: 1em;
    }
    #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    }
}